name: Trigger Vercel build 4x/weekly

on:
  schedule:
    - cron: '19 23 * * 1,3,5,7'
  
  workflow_dispatch:

jobs:
  trigger_build:
    runs-on: ubuntu-latest
    steps:
    - name: POST to Vercel build hook endpoint
      run: curl -X POST -d {} ${{ secrets.VERCEL_BUILD_URL }}
